name: CI/CD workflow for Maven Build and SonarCloud Scan

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build and SonarCloud Analysis
        working-directory: ./crud_rest_db
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn clean verify sonar:sonar \
            -Dsonar.projectKey=Aritz94318_pbl5_Web \
            -Dsonar.organization=aritz94318 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=$SONAR_TOKEN \
            -Dsonar.qualitygate.wait=true \
            -Dsonar.pullrequest.key=${{ github.event.pull_request.number }} \
            -Dsonar.pullrequest.branch=${{ github.head_ref }} \
            -Dsonar.pullrequest.base=${{ github.base_ref }}
            
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker
        run: gcloud auth configure-docker

      - name: Build & Push Docker image
        run: |
          docker build -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/crud-rest-db ./crud_rest_db
          docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/crud-rest-db

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy crud-rest-db \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/crud-rest-db \
            --region ${{ secrets.GCP_REGION }} \
            --platform managed \
            --allow-unauthenticated \
            --add-cloudsql-instances ${{ secrets.INSTANCE_CONNECTION_NAME }} \
            --set-env-vars SPRING_PROFILES_ACTIVE=cloud,DB_USER=${{ secrets.DB_USER }},DB_PASS=${{ secrets.DB_PASS }}